[submodule "Il2CppAssemblyUnhollower"]
	path = Il2CppAssemblyUnhollower
	url = https://github.com/NuclearPowered/Il2CppAssemblyUnhollower
	branch = reactor

[submodule "Reactor"]
	path = Reactor
	url = https://github.com/NuclearPowered/Reactor
